@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
}

a{
  text-decoration: none;
  color: black;
}

/* Logo */

.logo-text{
  font-size: 25px;
  cursor: pointer;
  position: absolute;
}

.logo-div{
  position: absolute;
  top: 0px;
  left: 10px;
}

.logo-image{
  width: 24px;
 position: relative;
 left: 34px;
  bottom: 28px;
}



/* Container & Span */

.container{
  display: flex;
  width: 90vw;
  position: absolute;
  top: 120px;
}

.panel{
  height: 40vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 5px;
  position: relative;
}


.panel span{
  font-size: 2vw;
  font-weight: 900;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.color1, .color2, .color3, .color4, .color5{
  text-shadow: 0 0 3px #000000, 0 0 5px red ;
}

/* Button */

.btn-div{
  position: absolute;
  top: 450px;
}

#btn{
  text-decoration: none;
  border: 2px solid gray;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  padding: 15px 15px;
  cursor: pointer;
  background-color: gainsboro;
  text-shadow: 0 0 3px #000000, 0 0 5px goldenrod ;
  background-size: 150%;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
}

#btn:hover{
  background-position: right;
}

/* Media Q */

@media(max-width: 480px) {
  .container{
    width: 100vw;
  }

  .panel:nth-of-type(4), .panel:nth-of-type(5){
    display: none;
  }

  .panel span{
      font-size: 10px;
      font-weight: 900;
      margin: 0;
      display: flex;
      justify-content: center;
      padding-top: 120px;
    
  }
}

